@layout BlankLayout
@page "/printEmployees"

@inject EmployeeService empService

<body onload="window.print()">
    <br />
    <br />
    <h3>Funcionários</h3>
    <br />
    <br />
    @if (employees == null)
    {
        <img src="/images/basicloader.gif" />
    }
    else
    {
        <table class='table'>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Endereço</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in employees)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Address</td>
                        <td>@employee.City</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>

@code {
    List<Employee> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await empService.GetEmployees();
    }
}